.wrap-input-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 12px;
}

.row{
    margin-right: 6px;
}

.wrap-input-text .text-input{
    margin-bottom: 4px;
    font-family: Notosans_Semibold;
}

.wrap-input-text input{
    height: 32px;
    padding: 6px 10px;
    border: 1px solid #bbbbbb;
    border-radius: 2px;
    box-sizing: border-box;
    
}

.length-160{
    width: 160px;
}

.length-197{
    width: 197px;
}

.length-240{
    width: 240px;
}

.text-input span{
    color: red;
}

.custome-input-date{
    position: relative;
}

.custome-input-date .custome-date{
    position: absolute;
    left: 0;
    width: 122px;
    border-right: none!important;
}

.custome-date::placeholder{
    font-family: Notosans_Italic;
}

.custome-input-date .datepicker{
    border: 1px solid #bbbbbb;
}

.custome-input-date .datepicker:hover{
    background-color: #E0E0E0;
}